<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG" verbose="1" data-provider-thread-count="2">
    <test name="TestCucumber">
        <classes>
            <class name="com.qa.demo.Runners.CucumberRunner">
            </class>
        </classes>
    </test>
</suite>